# rustfs (S3)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_ENDPOINT_URL=http://rustfs:9000

# mlflow
MLFLOW_HOST=0.0.0.0
MLFLOW_PORT=5001
MLFLOW_S3_BUCKET=mlflow
MLFLOW_ARTIFACTS_DESTINATION=s3://${MLFLOW_S3_BUCKET}
MLFLOW_BACKEND_STORE_URI=sqlite:///metadata/metadata.sqlite

# airflow
AIRFLOW_POSTGRES_USER=
AIRFLOW_POSTGRES_PASSWORD=
AIRFLOW_USERNAME=
AIRFLOW_PASSWORD=
