# mlflow
MLFLOW_HOST=0.0.0.0
MLFLOW_PORT=5001
MLFLOW_S3_BUCKET=mlflow
MLFLOW_ARTIFACTS_DESTINATION=s3://${MLFLOW_S3_BUCKET}
MLFLOW_BACKEND_STORE_URI=sqlite:///metadata/metadata.sqlite
MLFLOW_TRACKING_URI=http://mlflow:${MLFLOW_PORT}

# feast
FEAST_S3_BUCKET=feast
FEAST_REGISTRY_DESTINATION=s3://${FEAST_S3_BUCKET}/registry/registry.db
FEAST_REDIS_PORT=6379
FEAST_REDIS_HOST=redis
FEAST_REDIS_PASSWORD=

# app and pipelines
DATA_BUCKET=data

# rustfs (S3)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_ENDPOINT_URL=http://rustfs:9000
AWS_ENDPOINT_URL=http://rustfs:9000
BUCKETS_TO_CREATE=${MLFLOW_S3_BUCKET},${FEAST_S3_BUCKET},${DATA_BUCKET}